.btn {
    border: none;
    // background: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.4em 1em;
    border-radius: 0.2em;
    cursor: pointer;
    transition: background 300ms ease;

    &--primary {
        background: $clr-primary $grd-primary;
        color: white;

        &:hover,
        &:focus {
            background: $clr-primary-dark;
        }
    }
    &--secondary {
        background: $clr-secondary $clr-secondary;
        color: white;

        &:hover,
        &:focus {
            background: $clr-secondary-dark;
        }
    }
}

.link {
    color: $clr-secondary;

    &:hover,
    &:focus {
        color: $clr-secondary-dark;
        text-decoration: underline;
    }
}
